@font-face {
    font-family: bangla;
    src: url('../font/Shadhinata/Unicode/unicode_normal.ttf') format('ttf');
}

body {
    font-family: bangla, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-bangla {
    font-family: bangla, -apple-system, system-ui;
}
